In [1]:
import pandas as pd

# Pandas Exercise

In [2]:
def df_info(df: pd.DataFrame) -> None:
    return df.head(n=20).style

## Cars Auction Dataset

| Feature      | Type    | Description                                                   |
| ------------ | ------- | ------------------------------------------------------------- |
| Price        | Integer | The sale price of the vehicle in the ad                       |
| Years        | Integer | The vehicle registration year                                 |
| Brand        | String  | The brand of car                                              |
| Model        | String  | model of the vehicle                                          |
| Color        | String  | Color of the vehicle                                          |
| State/City   | String  | The location in which the car is being available for purchase |
| Mileage      | Float   | miles traveled by vehicle                                     |
| Title Status | String  | Clean title vehicles or salvage insurance                     |
| Condition    | String  | Time                                                          |

In [3]:
df = pd.read_csv("../data/USA_cars_datasets.csv")

print(df.columns)

Index(['price', 'brand', 'model', 'year', 'title_status', 'mileage', 'color',
       'state', 'country', 'condition'],
      dtype='object')

In [4]:
df.head()

,price,brand,model,year,title_status,mileage,color,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552.0,silver,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146.0,blue,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,florida,usa,22 hours left

## Exercise 1

-   Get the counts for the us states

In [5]:
df["state"].value_counts()

state
pennsylvania      299
florida           246
texas             214
california        190
michigan          169
north carolina    146
minnesota         119
illinois          113
wisconsin          94
virginia           90
new jersey         87
nevada             85
oklahoma           71
south carolina     64
new york           58
georgia            51
missouri           46
arizona            33
ohio               31
massachusetts      27
oregon             27
tennessee          26
connecticut        25
mississippi        24
colorado           21
west virginia      21
alabama            17
washington         14
indiana            14
arkansas           12
louisiana          11
utah               10
kentucky            9
ontario             7
kansas              4
maryland            4
nebraska            4
new mexico          4
new hampshire       4
rhode island        2
idaho               2
vermont             2
wyoming             1
montana             1
Name: count, dtype: int64

## Exercise 2

-   Get all cars from the state of new mexico

In [6]:
df_sub = df[df["state"] == "new mexico"]

df_info(df_sub)

## Exercise 3

-   Compute the mean mileage of all cars from new york

In [7]:
mean_mileage = df[df["state"] == "new york"]["mileage"].mean()
mean_mileage = df[df["state"] == "new york"].mileage.mean()

print(mean_mileage)

55144.56896551724

## Exercise 4

-   Remove all entries where the year is below 2019

In [8]:
df_sub2 = df[df["year"] >= 2019]

df_info(df_sub2)

## Exercise 5

-   Replace all color values by the first character of the color name
    E.g.: 'blue' => 'b'

In [9]:
df["color"] = df["color"].transform(lambda x: x[0])

df_info(df)